.balance-details-container {
  background: #AE93DC;
  margin-top: 2rem;
  border-radius: 4px;
}

.balance-details-container > h2 {
  border-radius: 4px;
  background: #B8A3E1;
  font-size: 1.25rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.balance-details-container > h2 > button {
  outline: none;
  background: transparent;
  border: 2px solid var(--color-text);
  cursor: pointer;
}

.balance-details-container > h2 > button:active {
  transform: translateY(4px);
}



.balance-details-status {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.balance-details-content-container {
}
