:root {
  --color-text: #000000;
  --color-background: #DCD1F0;
  --color-hover: #2274A5;
  --color-accent:#00CC66;
  --color-text-header: #004221;
  --color-error-background: #F75C03;
  --color-error-input: #F1C40F;
}
